body {
    background-color: rgb(230, 173, 204);
    margin: 0; 
  overflow-x:hidden;}
h1 {
    text-align: center;
 background: linear-gradient(to bottom, 
        #d71c79 50%,  
        #b92d71 50%  
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    margin: 100px 0 40px 0; 
font-style: 	Brush Script MT;
font-size: 50px;
font-weight: 3000;
}
button.RETURNHOME{
  align-items: center;
  width: 400px;
  height: 100px;
  font-size: 20px;
  color: #000;}
h1.whyDidUDelete{
  font-size: 90px;
}
h2.whyDidUDelete {
    text-align: center;
    color: rgb(137, 1, 44);;
    margin: 20px 0 20px 0;
}
p.whyDidUDelete {
    text-align: center;
    color: rgb(137, 1, 44);
    font-size: 20px;
    margin: 20px 0 20px 0;}
img.navia {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 200px;
    border-radius: 20px;
}
p.Delete2NaviaFont{
    text-align: center;
    padding-top:16%;
    color: rgb(137, 1, 44);;
    font-size: 25px;
    margin: 20px 0 20px 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;}
ul {
  align-items: center;
  list-style: none;
  z-index: 200;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
   border: 1px solid rgb(137, 1, 44);
  position: fixed;
  top: 0;
  width: 100%;
background: linear-gradient(rgb(243, 120, 208), rgb(241, 186, 222), rgb(219, 77, 172));}
ul li a {
  display: block;
  color: rgb(137, 1, 44);;
  padding: 14px 16px;
  text-decoration: none;}
ul li a:hover {
background: #ffe3f0;
background: radial-gradient(circle, rgba(255, 227, 240, 1) 0%, rgba(242, 124, 181, 0.32) 100%);}

button {
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  color: rgb(108, 85, 5);
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background: linear-gradient(
    0deg,
    rgb(189, 6, 110) 0%,
    rgb(248, 112, 196) 47%,

    rgb(197, 120, 146) 100%
  );
  transition: all 0.1s ease-in-out;

}
button:active {
  transform: translateY(3px);
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 14px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
button .button-content {
  display: flex;
  align-items: center;
  background: rgb(253, 195, 214);
  padding: 0.4em 1.5em;
  padding-left: 1.2em;
  border-radius: 14px;
}
button svg {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  color: #ff0000;
  transition: transform 1.6s;
}
button:hover svg {
  transform: scale(1.5);
color: #e62689;}
.delete{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(189, 6, 110);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: fixed;
  right: 20px;
  top: 20px;
  flex-direction: column; /* Ändert die Richtung auf vertikal */
  gap: 2px; /* Abstand zwischen Text und Icon */
z-index: 220;
}
.svgIcon {
  width: 15px;
  transition: all 0.3s ease-in-out;}
.svgIcon path {
  fill: white;
}
.delete:hover,startGeschirrspühlsession {
  width: 1220px; /* Bleibt quadratisch */
  height: 65px; /* Wird höher für den Text */
  border-radius: 15px; /* Leicht abgerundete Ecken */
z-index: 220;}
.delete:hover .svgIcon {
  transform: translateY(8px); /* Bewegt Icon nach unten */}
.delete::before {
  position: absolute;
  content: "Delete";
  color: white;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  top: 8px; /* Position über dem Icon */
  left: 50%; /* Zentriert horizontal */
  transform: translateX(-50%); /* Perfekte horizontale Zentrierung */}
.delete:hover::before {
  opacity: 1;
  transform: translateX(-50%); /* Behält horizontale Zentrierung */}
.paimon {
    margin-left: 100px; /* 200px nach rechts */ }
button.schichtZuEndeja, button.schichtZuEndenein {
  height: 40px;
  width: 200px;
  font-size: 25px;
  color: rgb(108, 5, 38);
  margin-left: 25%;
  margin-top:10%;}
button.backToWork{height: 150px;
  width: 350px;
  font-size: 50px;
  color: rgb(108, 5, 38);
  left:  -150px;
  top:-300px;
 position: relative;}
button.tagebuch-sticker{
height: 100px;
  width: 100px;
  margin-left: 250px;
    position: relative;
  top: -140px;
;}
img.paimon{
  height: 100px;
  width: 100px;
      position: relative;
  left: -100px;}
img.kleedance{
  height: 180px;
position: relative;
top: -70px;}
p.wähle{color: rgb(137, 1, 44);
    text-align: center;
    font-size: 30px;
  top: -190px;
position: relative;}
img.furinaBackToWork{
  position: relative;
  top: -200px;
  left: 340px;
  z-index: -1;
  height: 600px;
  width: 600px;}
img.catTimeGif{
  position: relative;
  top: -370px;
  left: 0px;
    height: 300px;
  width: 300px;
    z-index: -1;
  border:#d71c79 5px solid;
  border-radius: 20px;}
img.nyancatProfile{
  position: relative;
  top: -150px;
  left: -20px;
    height: 300px;
  width: 300px;
    z-index: -1;
  animation: moveAcrossScreen 2s linear forwards;}
  @keyframes moveAcrossScreen {
  0% {
    left: -20px; 
    transform: translateX(0);
  }
  100% {
    left: -20px; 
    transform: translateX(calc(100vw - 0px + 20px)); 
    opacity: 0;  
   display: none;}}
img#barbara{
  position: relative;
  top: -270px;
  left: 760px;
    height: 370px;
    z-index: -1;}
img.ProfilePaimon{
  position: relative;
  top: -580px;
  left: -550px;
    height: 250px;
    z-index: -1;}
button.addStricherlLena{
  position: absolute;
  top: 500px;
  left: 300px;
  display: block;
  margin: 20px auto;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background: rgb(137, 1, 44);
  color: rgb(247, 208, 208);
  cursor: pointer;
  z-index: 10;
  height: 50px;
 width: 260px;
  padding: 6px 10px;}
button.addStricherlJohanna{
  position: absolute;
  height: 50px;
  top: 500px;
  left: 680px;
  display: block;
  margin: 20px auto;
  padding: 6px 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background: rgb(137, 1, 44);
  color: rgb(247, 208, 208);
  cursor: pointer;
width: 260px;}
p.stricherlCountLena{
  display: inline-block;
  position: relative;
  border-color: rgb(191, 27, 142);
  border-width: 10px;
  border-radius: 20px;
  border-style: double;
  top: 90px;
  left: -510px;
  font-size: 90px;
background: linear-gradient(to bottom, 
        #eb71ae 50%, 
        #480626 
      );
      -webkit-background-clip: text; 
    background-clip: text;     
    -webkit-text-fill-color: transparent; 
    color: transparent; }
p.stricherlCountJohanna{
    position: relative;
  top: 90px;
  left: -300px;
  font-size: 90px;background: linear-gradient(to bottom, 
        #d10a6d 50%, 
        #f8f2f5 
      );
      -webkit-background-clip: text; 
    background-clip: text;     
    -webkit-text-fill-color: transparent; 
    color: transparent; 
  border-color: rgb(191, 27, 142);
  border-width: 10px;
  border-radius: 20px;
  border-style: double;
  display: inline-block;}
button.lena {
  margin-left: 30%;
  position: relative;
  top: -120px;}
button.jojo {
  margin-left: 20%;
  position: relative;
    top: -120px;}
p.stricherlTextLena{
  position: static;
  font-size: 30px;
  font-weight: bold;
  color: rgb(137, 1, 44);

    position: absolute;
    top: 300px; /* Position von oben */
    left: 35%; /* Position von links (z.B. 50% der Seite) */
    transform: translateX(-50%); /* Zum Zentrieren, falls nötig */
    z-index: 10;}
div.stricherlTextJohanna{
  font-size: 30px;
  font-weight: bold;
  color: rgb(137, 1, 44);

  position: absolute;
    top: 300px; /* Position von oben */
    left: 63%; /* Position von links (z.B. 50% der Seite) */
    transform: translateX(-50%); /* Zum Zentrieren, falls nötig */
    z-index: 10;}
button.addStricherlLena:hover, button.addStricherlJohanna:hover {
  background-color: rgb(189, 6, 110);
  color: white;}
button.minusStricherlLena{
  position: absolute;
  top: 600px;
  left: 300px;
  display: block;
  margin: 20px auto;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background: rgb(137, 1, 44);
  color: rgb(247, 208, 208);
  cursor: pointer;
  z-index: 10;
  height: 50px;
width: 260px;
  padding: 6px 10px;}
button.minusStricherlJohanna{

  position: absolute;
  height: 50px;
  top: 600px;
  left: 680px;
  display: block;
  margin: 20px auto;
  padding: 6px 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background: rgb(137, 1, 44);
  color: rgb(247, 208, 208);
  cursor: pointer;
width: 260px;}
button.minusStricherlLena:hover, button.minusStricherlJohanna:hover {
  background-color: rgb(189, 6, 110);
  color: white;}
button.startGeschirrspühlsession{
  position: relative;
  top: -498px;
  height: 40px;
  left: 630px;
  width: 500px;
  font-size: 25px;
  color: rgb(108, 5, 38);
  z-index: 220;
 transition: 0.4s;
text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
  background: linear-gradient(
      15deg,
      #880088,
      #aa2068,
      #cc3f47,
      #de6f3d,
      #f09f33,
      #de6f3d,
      #cc3f47,
      #aa2068,
      #880088
    )
    no-repeat;
  background-size: 300%;
  background-position: left center;
  transition: background 0.3s ease;
  color: #fff;}
button.startGeschirrspühlsession:hover {
  background-size: 320%;
  background-position: right center;}
.playlist-container {
   margin: 10px 0 0 250px;
    background-color: #47052e;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(150, 50, 100, 0.2);
    text-align: center;
    width: 700px;}
.song-title {
  position: relative;
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
    color: #ecabd7;
    min-height: 25px;
     z-index: 200;}
.controls {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;}
.control-btn {
    background-color: #e060a6; /* Rosa Button */
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;}
.control-btn:hover {
    background-color: #a3357e; /* Dunkleres Rosa beim Hover */}
.control-btn:active {
    transform: scale(0.95);}
div.tenor-gif-embed {
height: 200px;
margin-top: 20px;
visibility: hidden;}
#videoPlayer {
height: 270px;
border-radius: 20px;
position: absolute;
opacity: 50%;
top: 920px;
left: 380px;}
#mobileStyle {
  display: none;}
@media (max-width: 768px) {
#mobileStyle {
display: block;
z-index:250;
width:100%;
height: 100%;
position: fixed;
left:-20px;
top:0;}
#phoneLogin{
  z-index:260;
  position: fixed;
  width: 270px;
  height: 50px;
  top: 384px;
  left: 17px; 
  z-index: 400;
  opacity:0%;
  border: none;
  cursor: pointer;
}

}











   